html {
	border-right:1px solid #AAAAAA;
	border-bottom:1px solid #AAAAAA;
	width:1280px;
	height:715px;
}

body {
	padding:20px;
}

#cont_title {
	width:400px;
	h4 {
		font-weight:bold;
		margin-bottom:5px;
	}
	input {
		height:33px;
		font-size:17px;
	}
	#field_match {
		width: 296px;
		display:inline-block;
	}
	#field_length {
		width:100px;
		display:inline-block;
	}
}


.inline {
	display:inline-block;
	vertical-align: top;
}

.bottom {
	vertical-align:bottom;
}

.input-small {
	height:26px;
}

.fn_key {
	font-size:10px;
}

#cont_swimmer {
	margin-top:20px;
	.swimmer_row {
		width: 100%;
		.inline;
		margin: 1px 0;
		height:28px;
		div, h5, input[type="text"] {
			.inline;
			margin:0;
		}
		input[type="text"] {
			.input-small;
			padding:4px;
		}
		input[type="radio"] {
			vertical-align: middle;
		}
	}
	.header {
		height:20px;
		h5 {
			font-weight:bold;
		}
	}
}

